# Directories #

bower_components/
node_modules/
coverage/
public/


# Files #

.publish
npm-debug.log
.DS_Store
Desktop.ini

*.sh
*.bat
*.cmd


# Deprecated #

base/data/
dist/
lib/
css/style.css
base/Objects.js
base/Player.js
base/*.zip
